body {
    background-color: #151514;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: 'Raleway', Verdana;
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
    color: #EAEAEA;
}
